.boder{
    border: 1px solid gray;
    border-radius: 22px;
    padding: 10px;
    color: gray;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 1rem;
}
.paragraph{
    letter-spacing: 1px;
    line-height: 30px;
    color: gray;
    max-width: 80%;
}
.cardabout{
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
}
.designation{
    font-size: 12px;
    line-height: 24px;
    padding-left: 15px;
    letter-spacing: 1px;
    margin-bottom: 12px;
    text-transform: uppercase;
    position: relative;
}
.designation ul li{
    list-style-type: disc;
}
.name{
    font-size: 30px;
}

.cardabout:hover{
margin-top: -10px;
transition: 0.5s;
}
.companylogos{
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.sideheading{
    font-size: 40px;
}
@media screen and (max-width:600px) {
    .companylogos{
        margin-bottom: 5rem;
    }
    .lineHeight{
        text-align: center;
        line-height: 90px;
    }
}