.slider-container{
    display: flex;
    align-items: center;
}
.company_logo{
    display: flex;
    align-items: center;
}


@media (max-width:768px) {
    .ourcompanylogos{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}