.admissionCard{
    border: 1px solid black;
    border-bottom: 10px solid #000000de;
    border-radius: 0px 50px 50px 50px;
    padding: 2rem;
    margin-bottom: 1rem;
}
.title{
    font-size: 22px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.867);
}
.description{
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.867);
    text-align: start;
}
.careerBg{
    background-image: url(../../images/career.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.partnerImage{
    background-image: url(../../images/partners.jpg);
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.book{
    background-image: url(../../images/books.webp);
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bookbackground{
    background-image: url(../../images/booksback.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    padding: 1rem;
}
.imageheading{
    font-size: 60px;
    color: white;
    max-width: 60%;
    margin-top: 5rem;
    font-weight: 600;
    font-family: poppins;
}
.franchise{
    font-size: 60px;
    color: white;
    max-width: 60%;
    margin-top: 0rem;
    font-weight: 600;
    font-family: poppins;
}

@media (max-width: 600px) {
.imageheading{
    font-size: 27px;
    color: white;
    max-width: 80%;
}
.careerBg{
    background-image: url(../../images/career.jpg);
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.franchise{
    font-size: 35px;
    color: white;
    max-width: 100%;
    margin-top: 0rem;
    font-weight: 600;
    font-family: poppins;
}
}
/* .tse-content{
    background-color: rgba(0, 0, 0, 0.643);
    padding: 2rem;
    border-radius: 20px 20px 20px 0px;
    margin-bottom: 2rem;
}
.tse-content_2{
    background-color: rgba(171, 12, 12, 0.762);
    padding: 2rem;
    border-radius: 20px 20px 20px 0px;
    margin-bottom: 2rem;
} */